.container {
  background-color: var(--header-bg);

  width: fit-content;

  display: flex;
  justify-content: center;
}

.image {
  margin-top: var(--header-height);

  min-width: 1500px;
  width: 100%;
  height: auto;
  overflow: scroll;
}

.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
