.container {
  background-color: var(--header-bg);

  width: fit-content;

  display: flex;
  justify-content: center;
}

.image {
  margin-top: var(--header-height);

  min-width: 1500px;
  width: 100%;
  height: auto;
  overflow: scroll;
}
