.container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;

  font-weight: 500;

  > img {
    height: 100px;
    border-radius: 3px;
  }
}

.size {
  margin-top: 0.25rem;
  color: #fff;

  padding: 0.4rem;
  width: fit-content;
  border-radius: 3px;

  &.hard {
    background-color: #d9534f;
  }

  &.medium {
    background-color: #f0ad4e;
  }

  &.easy {
    background-color: #5cb85c;
  }
}
