.container {
  position: fixed;
  width: 100%;

  max-height: var(--header-height);

  padding: 0.75rem;
  background-color: transparent;

  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  --items-background: rgba(0, 0, 0, 0.772);
}

.characters {
  display: flex;
  gap: 1rem;

  > div {
    background-color: var(--items-background);

    min-width: 250px;

    padding: 0.5rem;
    border-radius: 5px;
  }
}

.timer {
  font-weight: 1000;
  font-size: 2rem;

  margin-right: 2rem;

  border-radius: 5px;
  padding: 1rem;
  background-color: var(--items-background);
}

@media screen and (max-width: 1000px) {
  .characters {
    > div {
      min-width: 0;
      padding: 0;
      background-color: transparent;

      > div {
        display: none;
      }
    }
  }
}
