@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", system-ui;
}

/* ------------------ TRANSITIONS ------------------------ */
#root {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.view-enter {
  opacity: 0;
}

.view-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.view-exit {
  opacity: 1;
}

.view-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* ------------------ ------------ ------------------------ */
