:root {
  --background-cover: #000000bc;
  --header-bg: #303030;
  --header-height: 140px;

  --menu-bg: rgb(40, 40, 40);
  --menu-color: #fff;

  --focus-color: #26ace0;

  --menu-button-bg: #23829e;
  --menu-button-color: #ffffff;
}
